@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">
            <h1>💊 Напоминалка о лекарствах</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
